body {

    background-color: rgb(226, 224, 224);
    align-self: flex-start;

}



.ipod {
    margin: 20px auto;
    position: relative;
    width: 400px;
    padding: 0;
    align-self: flex-start;

}

#id-img {}


.window {
    background: beige;
    width: 88%;
    height: 40%;
    position: absolute;
    top: 4%;
    left: 6%;
    border-radius: 2%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    z-index: 1;

}


.window p {
    padding: 0 11px;
    margin: 0;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.486);

}

.window .song-list p:hover {
    background-color: rgba(0, 0, 0, 0.486);
    color: beige;
}

#id-input {

    border: none;
    background: beige;
    width: 94%;
    height: 18%;
    position: absolute;
    top: 82%;
    left: 3%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.486);
    /* box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9); */
    box-shadow: inset 0 -10px 10px -10px #000000;
    background-image: url('/pics/search-icon.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30px;
    text-transform: uppercase;

}

#id-input:focus {
    outline-width: 0;
}

.song-list {
    /* display: none; */
}



.back-window {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    overflow: hidden;
    /* padding: 10px; */
}


#id-blad{
    width: 92%;
    height: 100%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;



}
.artist-details{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.356);
    left: 0%;
    top: 0%;
    padding-top: 32%;
    padding-bottom: 50%;

}
.artist-details p{

    color: beige;
    font-weight: normal;
    letter-spacing: 3px;
}

#id-search{
    position: absolute;
    height: 5%;
    width: 18%;
    top: 55%;
}
#id-pause{
    position: absolute;
    height: 5%;
    width: 18%;
    top: 85%;
}
#id-voldown{
    position: absolute;
    height: 5%;
    width: 13%;
    top: 71%;
    left:20%;
}
#id-volup{
    position: absolute;
    height: 5%;
    width: 13%;
    top: 71%;
    left:64%;
}
#id-midlle{
    position: absolute;
    height: 5%;
    width: 13%;
    top: 71%;


}



.butn{
cursor: pointer;
}